* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.divider {
    border-top: 3px dotted #bbb;
    width: 100%;
    
}

.name {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: darkblue;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 19px;
    padding-top: 5px;
}

.address {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    gap: 4px;
}

.description-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.description-container p {
    word-wrap: break-word;
    max-width: 90%;
    margin-top: 20px;
}

h1 {
    font-size: 40px;
}
