.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(56, 54, 54);
    color: white;
    font-size: 17px;
    padding: 8px;
}

.button:hover {
    cursor: pointer;
}